.login_main {
    display: flex;
    justify-content: center;
    background-color: wheat;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 1600px;
}

/* .login_image{
    max-width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom , rgba(0 , 0 , 0, 1), rgba( 0, 0, 0, 0));
} */
.login_head{
    font-size: 2vmax;
    text-align: center;
    padding: 2vmax;
    font-family: 'roboto', sans-serif;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgb(245, 222, 179);
    color: rgb(0, 0, 0);
    text-transform: capitalize;
     
}

.login_content{
    padding: 40px;
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}


.login_profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    padding: 30px;
    width: 100%;
    max-height: 400px;
    min-width: 50px;
    background-color: white ;
    z-index: 1;
}

.login_profession >img {
    padding: 2vmax;
    max-height: 10vmax;
    min-width: 2vmax;
    margin-bottom: 15px;
}

.login_profession >button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    background: #f0c14b;
    border: 1px solid;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-color: #a88734 #9c7e31  #846a29;
    color: #111
}
